<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isPremium</key>
		<false/>
		<key>index</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>Photo0</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<false/>
		<key>index</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>Photo1</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<false/>
		<key>index</key>
		<integer>2</integer>
		<key>imageName</key>
		<string>Photo2</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>3</integer>
		<key>imageName</key>
		<string>Photo3</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>4</integer>
		<key>imageName</key>
		<string>Photo4</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>5</integer>
		<key>imageName</key>
		<string>Photo5</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>6</integer>
		<key>imageName</key>
		<string>Photo6</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>7</integer>
		<key>imageName</key>
		<string>Photo7</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>8</integer>
		<key>imageName</key>
		<string>Photo8</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>9</integer>
		<key>imageName</key>
		<string>Photo9</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>10</integer>
		<key>imageName</key>
		<string>Photo10</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>11</integer>
		<key>imageName</key>
		<string>Photo11</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>12</integer>
		<key>imageName</key>
		<string>Photo12</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>13</integer>
		<key>imageName</key>
		<string>Photo13</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>14</integer>
		<key>imageName</key>
		<string>Photo14</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>15</integer>
		<key>imageName</key>
		<string>Photo15</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>16</integer>
		<key>imageName</key>
		<string>Photo16</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>17</integer>
		<key>imageName</key>
		<string>Photo17</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>18</integer>
		<key>imageName</key>
		<string>Photo18</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>19</integer>
		<key>imageName</key>
		<string>Photo19</string>
	</dict>
	<dict>
		<key>isPremium</key>
		<true/>
		<key>index</key>
		<integer>20</integer>
		<key>imageName</key>
		<string>Photo20</string>
	</dict>
</array>
</plist>
